<ion-header>
  <ion-navbar color="back">
    <ion-title>Informações da Anotação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h2>{{ anotacao.titulo }}</h2>
      <h3>{{ anotacao.tipo }}</h3>
    </ion-card-header>

    <ion-card-content>
      <label *ngIf="anotacao.diaTodo == true">Data Inicial</label>
      <label *ngIf="anotacao.diaTodo == false">Data e Hora Inicial</label>
      <h2><ion-icon color="back" name="calendar"></ion-icon>{{ startTime }}</h2>

      <br>
      <label *ngIf="anotacao.diaTodo == true">Data Final</label>
      <label *ngIf="anotacao.diaTodo == false">Data e Hora Final</label>
      <h2><ion-icon color="back" name="calendar"></ion-icon>{{ endTime }}</h2>

      <br>
      <label>Dia todo?</label>
      <h2 *ngIf="anotacao.diaTodo == true"><ion-icon color="back" name="sunny"></ion-icon>Sim</h2>
      <h2 *ngIf="anotacao.diaTodo == false"><ion-icon color="back" name="sunny"></ion-icon>Não</h2>

      <br>
      <label>Disciplina Vinculada</label>
      <h2><ion-icon color="back" name="book"></ion-icon>{{ disciplina.nome }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="variavel.nome != ''">
    <ion-card-header>
      <h2>Sistema de Notas</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <label>Avaliação</label>
            <h2><ion-icon color="back" name="ribbon"></ion-icon>{{ variavel.nome }}</h2>
          </ion-col>
          <ion-col>
            <label>Nota</label>
            <h2><ion-icon color="back" name="trophy"></ion-icon>{{ variavel.valor }}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>Informações Adicionais</h2>
    </ion-card-header>

    <ion-card-content>
      <label>Observações</label>
      <ion-item>
        <ion-textarea rows="5" [(ngModel)]="anotacao.obs" readonly="true"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="anotacao.image != ''">
    <ion-card-header>
      <h2>Imagem</h2>
    </ion-card-header>

    <ion-card-content>
      <img [src]="anotacao.image">
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col><button ion-button block round color="danger" (click)="deletar()">Deletar</button></ion-col>
      <ion-col><button ion-button block round color="back" (click)="alterar()">Alterar</button></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><button ion-button block outline round color="back" (click)="voltar()">Voltar</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
