<ion-header>
  <ion-navbar color="back">
    <ion-title>Disciplina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="item-prim"><ion-label>Informações Gerais</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="bookmarks" color="back"></ion-icon>
      <ion-label stacked>Selecione o Curso</ion-label>
      <ion-select [selectOptions]="selectOptCurso" [(ngModel)]="curso.id" (ionChange)="onChangeCurso()" cancelText="Cancelar" >
        <ion-option *ngFor="let curso of cursos" value="{{ curso.id }}">{{ curso.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="browsers" color="back"></ion-icon>
      <ion-label stacked>Selecione o Período</ion-label>
      <ion-select [selectOptions]="selectOptPeriodo" [(ngModel)]="disciplina.periodo" cancelText="Cancelar" >
        <ion-option *ngFor="let periodo of periodos" value="{{ periodo.id }}" >{{ periodo.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="book" color="back"></ion-icon>
      <ion-label stacked>Nome da Disciplina</ion-label>
      <ion-input type="text" [(ngModel)]="disciplina.nome"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="remove" color="back"></ion-icon>
      <ion-label stacked>Sigla da Disciplina</ion-label>
      <ion-input type="text" [(ngModel)]="disciplina.sigla"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="person" color="back"></ion-icon>
      <ion-label stacked>Professor(a)</ion-label>
      <ion-select [selectOptions]="selectOptProfessor" [(ngModel)]="disciplina.professor" cancelText="Cancelar" >
        <ion-option *ngFor="let professor of professores" value="{{ professor.id }}" >{{ professor.nome }}</ion-option>
      </ion-select>
      <button ion-button item-end round color="back" (click)="addProfessor()">Novo</button>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Sistema de Notas</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="arrow-up" color="back"></ion-icon>
      <ion-label stacked>Nota Máxima</ion-label>
      <ion-input type="number" [(ngModel)]="disciplina.notaMax"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="arrow-down" color="back"></ion-icon>
      <ion-label stacked>Nota Mínima</ion-label>
      <ion-input type="number" [(ngModel)]="disciplina.notaMin"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="checkmark" color="back"></ion-icon>
      <ion-label stacked>Nota Média (Nota para Aprovação)</ion-label>
      <ion-input type="number" [(ngModel)]="disciplina.notaMed"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="calculator" color="back"></ion-icon>
      <ion-label stacked>Fórmula para Cálculo da Média</ion-label>
      <ion-input type="text" [(ngModel)]="disciplina.formula.expressao" disabled="true"></ion-input>
      <button ion-button item-end round color="back" (click)="addFormula()">Adicionar</button>
    </ion-item>
  </ion-list>

  <button ion-button block round color="back" (click)="salvar()">Salvar</button>
  <button ion-button block outline round color="back" (click)="voltar()">Voltar</button>
  <button ion-button *ngIf="uid == ''" block round color="laranja" (click)="updatePage()">Atualizar</button>
</ion-content>
