<ion-header>
  <ion-navbar color="back">
    <ion-title>Disciplina</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="width: 95%">
    <ion-item>
      <ion-label>Informações Gerais</ion-label>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="bookmarks" color="back"></ion-icon>
      <ion-select placeholder="curso" [(ngModel)]="curso" (ionChange)="onSelectChange($event)" [selectOptions]="selectOptCurso" submitText="Ok" cancelText="Cancelar" >
        <ion-option *ngFor="let curso of cursos">{{ curso.data().nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="browsers" color="back"></ion-icon>
      <ion-select placeholder="periodo" [(ngModel)]="periodo" [selectOptions]="selectOptPeriodo" submitText="Ok" cancelText="Cancelar" >
        <ion-option *ngFor="let periodo of periodos" value="{{ periodo.id }}" >{{ periodo.data().nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="book" color="back"></ion-icon>
      <ion-input type="text" placeholder="nome da disciplina" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="remove" color="back"></ion-icon>
      <ion-input type="text" placeholder="sigla usada na disciplina" [(ngModel)]="sigla"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sistema de Notas</ion-label>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="arrow-up" color="back"></ion-icon>
      <ion-input type="number" placeholder="nota máxima da disciplina" [(ngModel)]="notaMax"></ion-input>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="arrow-down" color="back"></ion-icon>
      <ion-input type="number" placeholder="nota mínima da disciplina" [(ngModel)]="notaMin"></ion-input>
    </ion-item>

    <ion-item class="rowStyle" no-lines>
      <ion-icon item-start name="checkmark" color="back"></ion-icon>
      <ion-input type="number" placeholder="nota média para aprovação" [(ngModel)]="notaMed"></ion-input>
    </ion-item>

    <button ion-button *ngIf="!uid" block round color="laranja" class="btn" (click)="updatePage()">Atualizar</button>

    <button ion-button block round color="back" class="btn" (click)="salvar()">Salvar</button>
  </ion-list>
</ion-content>
