page-agenda {
  //fundo da tela
  ion-content {
    .scroll-content {
      background-color: map-get($colors, backSec);
    }
  }

  // lista de anotações, quando tiver
  .item {
    background-color: map-get($colors, backSec);
  }

  // botão suspenso
  ion-fab {
    padding: 20px;
  }

  //titulo no meio dos botões
  .mes {
    text-align: center;
    padding-top: 10px;
  }

  //linhas padrão
  .linha {
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
  }

}
