page-simulador {
  //fundo da tela
  ion-content {
    .scroll-content {
      background-color: map-get($colors, backSec);
    }
  }

  //ion-item primário
  .item-prim {
    background-color: map-get($colors, backSec);
  }

  //ion-item secundário
  .label-sec {
    background-color: map-get($colors, backSec);
    padding-top: 10px;
  }

  //ion-item secundário
  .item-sec {
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
  }

  //ion-row da visualização das notas
  ion-row {
    padding-left: 10px;
    padding-right: 10px;
  }

}
