page-disciplinas {
  //fundo da tela
  ion-content {
    .scroll-content {
      background-color: map-get($colors, backSec);
    }
  }

  //ion-item primário
  .item-prim {
    background-color: map-get($colors, backSec);
  }

  //ion-item secundário
  .item-sec {
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
  }

  // botão suspenso
  ion-fab {
    padding: 20px;
  }
}
