page-disciplinas {
  ion-content {
    .scroll-content {
      background-color: map-get($colors, backPrim);
    }
  }

  .item {
    background-color: map-get($colors, backPrim);
  }

  .btn {
    margin-top: 30px;
  }

  h4 {
    text-align: center;
    padding-top: 20px;
  }

  ion-fab {
    padding: 20px;
  }
}
