<ion-header>
  <ion-navbar color="back">
    <ion-title>Informações do Curso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h2>{{ curso.nome }}</h2>
      <h2>{{ curso.sigla }}</h2>
    </ion-card-header>

    <ion-card-content>
      <label>Data de Início</label>
      <h2><ion-icon color="back" name="calendar"></ion-icon>{{ startDate }}</h2>
      <label>Data/Previsão de Finalização</label>
      <h2><ion-icon color="back" name="calendar"></ion-icon>{{ endDate }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="periodos.length != 0">
    <ion-card-header>
      <h2>Períodos</h2>
    </ion-card-header>

    <ion-card-content *ngFor="let periodo of periodos">
      <h2><ion-icon color="back" name="book"></ion-icon>{{ periodo.nome }}</h2>
      <h3><ion-icon color="back" name="calendar"></ion-icon>{{ periodo.tipo }}</h3>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block round color="danger" (click)="deletar()">Deletar</button>
      </ion-col>
      <ion-col>
        <button ion-button block round color="back" (click)="alterar()">Alterar</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block outline round color="back" (click)="voltar()">Voltar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
