<ion-header>
  <ion-navbar color="back">
    <ion-title>Anotação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="item-prim"><ion-label>Informações</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="clipboard" color="back"></ion-icon>
      <ion-label stacked>Título da Anotação</ion-label>
      <ion-input type="text" [(ngModel)]="anotacao.titulo"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="remove" color="back"></ion-icon>
      <ion-label stacked>Tipo de Anotação</ion-label>
      <ion-select [selectOptions]="selectOptTipo" [(ngModel)]="anotacao.tipo" cancelText="Cancelar" >
        <ion-option *ngFor="let tipo of tipos" value="{{ tipo }}" >{{ tipo }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="book" color="back"></ion-icon>
      <ion-label stacked>Disciplina Vinculada</ion-label>
      <ion-select [selectOptions]="selectOptDisciplina" [(ngModel)]="anotacao.disciplina" (ionChange)="onChangeDisciplina($event)" cancelText="Cancelar" >
        <ion-option *ngFor="let disciplina of disciplinas" value="{{ disciplina.id }}" >{{ disciplina.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Sistema de Notas</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="ribbon" color="back"></ion-icon>
      <ion-label>Vincular Nota?</ion-label>
      <ion-toggle [(ngModel)]="vincNota"></ion-toggle>
    </ion-item>

    <ion-item class="item-sec" no-lines *ngIf="vincNota">
      <ion-icon item-start name="ribbon" color="back"></ion-icon>
      <ion-label stacked>Nota</ion-label>
      <ion-select [selectOptions]="selectOptNota" [(ngModel)]="anotacao.variavel" (ionChange)="onChangeNota($event)" cancelText="Cancelar">
        <ion-option *ngFor="let variavel of disciplina.formula.variaveis">{{ variavel.nome }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-sec" no-lines *ngIf="vincNota">
      <ion-icon item-start name="trophy" color="back"></ion-icon>
      <ion-label stacked>Valor da Nota</ion-label>
      <ion-input type="number" [(ngModel)]="nota" (ionChange)="onChangeValor($event)"></ion-input>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Data</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="calendar" color="back"></ion-icon>
      <ion-label stacked>Data e Hora Inicial</ion-label>
      <ion-datetime displayFormat="{{ tipoData }}" [(ngModel)]="anotacao.startTime" min="{{ dataMin }}" max="{{ dataMax }}" doneText="Ok" cancelText="Cancelar" (ionChange)="onChangeStartTime($event)"></ion-datetime>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="calendar" color="back"></ion-icon>
      <ion-label stacked>Data e Hora Final</ion-label>
      <ion-datetime displayFormat="{{ tipoData }}" [(ngModel)]="anotacao.endTime" min="{{ dataMin }}" max="{{ dataMax }}" doneText="Ok" cancelText="Cancelar" (ionChange)="onChangeEndTime($event)"></ion-datetime>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="sunny" color="back"></ion-icon>
      <ion-label>Dia Todo?</ion-label>
      <ion-toggle [(ngModel)]="anotacao.diaTodo" (ionChange)="onChangeDiaTodo()"></ion-toggle>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Informações Adicionais</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="create" color="back"></ion-icon>
      <ion-label stacked>Observações</ion-label>
      <ion-textarea rows="10" [(ngModel)]="anotacao.obs"></ion-textarea>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="images" color="back"></ion-icon>
      <ion-label>Imagem</ion-label>
      <button ion-button item-end round color="back" (click)="addFoto()">Adicionar</button>
    </ion-item>

    <ion-item class="item-sec" no-lines *ngIf="anotacao.image != ''">
      <img center [src]="anotacao.image">
    </ion-item>
  </ion-list>

  <button ion-button block round color="back" (click)="salvar()">Salvar</button>
  <button ion-button block outline round color="back" (click)="voltar()">Voltar</button>
  <button ion-button *ngIf="uid == ''" block round color="laranja" (click)="updatePage()">Atualizar</button>
</ion-content>
