page-cad-anotacao {
  ion-content {
    .scroll-content {
      background-color: map-get($colors, backSec)
    }
  }

  .item {
    background-color: map-get($colors, backSec)
  }

  .btn {
    margin-top: 30px;
  }

  ion-label {
    padding-top: 15px;
  }

  .rowStyle {
    background-color: white;
    padding-left: 15px;
    border-radius: 30px;
    margin-top: 10px;
  }

  .item-label {
    padding-left: 20px;
    margin-top: 0px;
  }
}
