<ion-header>
  <ion-navbar color="back">
    <ion-title>Escola</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="item-prim"><ion-label>Informações Gerais</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="school" color="back"></ion-icon>
      <ion-label stacked>Nome da Escola</ion-label>
      <ion-input type="text" [(ngModel)]="escola.nome"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="remove" color="back"></ion-icon>
      <ion-label stacked>Sigla da Escola</ion-label>
      <ion-input type="text" [(ngModel)]="escola.sigla"></ion-input>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Informações para Contato</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="call" color="back"></ion-icon>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="tel" [(ngModel)]="escola.telefone"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="mail" color="back"></ion-icon>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="escola.email"></ion-input>
    </ion-item>

    <ion-item class="label-sec"><ion-label>Localização</ion-label></ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="home" color="back"></ion-icon>
      <ion-label stacked>Endereço</ion-label>
      <ion-input type="text" [(ngModel)]="escola.endereco"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="list" color="back"></ion-icon>
      <ion-label stacked>Cidade</ion-label>
      <ion-input type="text" [(ngModel)]="escola.cidade"></ion-input>
    </ion-item>

    <ion-item class="item-sec" no-lines>
      <ion-icon item-start name="list" color="back"></ion-icon>
      <ion-label stacked>Estado</ion-label>
      <ion-select [selectOptions]="selectOptEstado" [(ngModel)]="escola.estado" cancelText="Cancelar">
        <ion-option *ngFor="let estado of estados">{{ estado }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <button ion-button block round color="back" (click)="salvar()">Salvar</button>
  <button ion-button block clear round color="back" (click)="voltar()">Voltar</button>
  <button ion-button *ngIf="uid == ''" block round color="laranja" (click)="updatePage()">Atualizar</button>
</ion-content>
